# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/


# Environment variables
*.env

# Migrations (optional if you want fresh DB each time)
*/migrations/__pycache__/
